@import "tailwindcss";

@theme {
  --color-text: #000000;
  --color-background: #ffffff;
  --color-background2: #ececec;
  --color-primary: #563b34;
  --color-secondary: #bdb893;
  --color-accent: #e96311;
  --color-card: #242424;
}

.dark {
  --color-text: #ffffff;
  --color-background: #000000;
  --color-background2: #242424;
  --color-primary: #e67255;
  --color-secondary: #6c6742;
  --color-accent: #e96311;
  --color-card: #ececec;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Slow expanding/collapsing animation */
details {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

/* Content reveal with smooth animation */
details[open] summary ~ * {
  animation: expand 0.5s ease-in-out;
}

/* Keyframes for smoother opening effect */
@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slower icon rotation */
.group-open summary svg {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}

/* Hide scrollbar on all browsers */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
